@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  padding: 0;
  margin: 0 auto;
  background-color: white;
  font-family: poppins, "helvetica neue", sans-serif;
  text-align: center;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h1 {
  font-family: "Dela Gothic One", "helvetica neue", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h2 {
  font-family: "Dela Gothic One", "helvetica neue", sans-serif;
  font-weight: 400;
  font-size: 2.625rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h3 {
  font-family: poppins, "helvetica neue", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p {
  font-family: poppins, "helvetica neue", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
button {
  margin-top: 1rem;
}
