---
import Layout from "../layouts/Layout.astro";
/* import Button from "../components/Button.astro"; */
---

<Layout>
  <h1>Dit højskoleeventyr starter her</h1>
  <p>
    HØJSKOLENDK er en dansk højskole for unge i alderen <b>18-26 år</b>.Vi
    brænder for oplevelser, fællesskabet og det gode eventyr.
  </p>

  <!--  <Button title="Se rejsekalender" />
  <Button title="Infomøder" variant="secondary" /> -->
</Layout>
<Layout>
  <h2>Vælg dit eventyr</h2>
  <p>
    HØJSKOLENDK er en dansk højskole for unge i alderen 18-28 år.Vi brænder for
    oplevelser, fællesskabet og det gode eventyr.
  </p>
</Layout>
<Layout>
  <h2>Oplevelser for livet & fantastiske eventyr</h2>
  <p>
    HØJSKOLENDK er en dansk højskole for unge i alderen 18-28 år.Vi brænder for
    oplevelser, fællesskabet og det gode eventyr.
  </p>
</Layout>
<Layout>
  <h2>+3.000 glade elever siden 2010</h2>
  <p>96% af alle elever anbefaler HØJSKOLENDK (2025).</p>
</Layout>
<Layout>
  <h2>Klar på højskoleeventyr, fælleskab & masser af adventure?</h2>
  <p>
    Her er lidt af alt det, som du får, når du tager på et højskoleophold med
    os.
  </p>
</Layout>
