---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import "../styles/main.css";
import "../styles/cards.css";
import "../styles/pages.css";
---

<Layout>
    <main>
        <Hero/>
    </main>
</Layout>