---
const {title, variant} = Astro.props;
---

<button class={variant}>{title}</button>

<style>
button{
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-family: "poppins", "helvetica neue", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

.primary{
    background-color: #ce5501;
    color: white;
}

.secondary{
    background-color: white;
    color: black;
}

.tertiary{
    background-color: black;
    color: white;
}
</style>