---
const {title, variant} = Astro.props;
---

<div class={`card ${variant}`}>
  {title}
</div>

<style>
.card{
    display: flex;
    justify-content: center; 
    align-items: flex-end; 
    background-color: white;
    height: 430px;
    width: 370px;
    box-shadow: 0px 3.28px 82.05px rgba(0, 0, 0, 0.12);
    padding-bottom: 1rem;
    color: black;
    font-family: "Dela Gothic One", "helvetica neue", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 5px;
}

.right_tilt{
    transform: rotate(-2deg);
}

.left_tilt{
    transform: rotate(2deg);
}

</style>
