---
import Layout from "../layouts/Layout.astro";

const { title, badge, large } = Astro.props;
---

<div class={`card ${large ? "large" : ""}`}>
  <div class="badge">{badge}</div>

  <div class="title">{title}</div>
</div>
