---

---
<footer>
  <div class="footer__container">

    <!-- Venstre side -->
    <div class="footer__left">
      <h2>Få svar på dine spørgsmål</h2>

      <p><strong>Vores rejseledere sidder klar til at hjælpe dig.</strong></p>

      <p>
        Med flere hundrede skønne elever om året, har vi hørt de fleste
        spørgsmål vedrørende vores højskoleophold i udlandet mange gange.
        Vi har gjort vores bedste for at svare på de fleste "ofte stillede
        spørgsmål" herunder.
      </p>

      <p>
        Vi håber du finder svar på dine spørgsmål og hvis ikke,
        er du altid velkommen til at ringe til os på
        <strong>70 27 90 07</strong>
        eller skrive til os på
        <strong>info@hojskolendk.dk</strong>.
      </p>

      <!-- Kontakt knapper -->
      <div class="footer__buttons">
        <a href="tel:70279007" class="footer__button">
          70 27 90 07
        </a>

        <a href="mailto:info@hojskolendk.dk" class="footer__button">
          info@hojskolendk.dk
        </a>
      </div>

      <p>Mandag - Fredag kl. 10.00 - 17.00</p>
    </div>


    <!-- Højre side -->
    <div class="footer__right">
      <h3>Ofte stillede spørgsmål</h3>

      <ul>
        <li>Hvor mange elever er der på et hold?</li>
        <li>Hvad er gennemsnitsalderen på vores ophold?</li>
        <li>Rejser de fleste alene?</li>
        <li>Er der lige mange drenge og piger med på holdene?</li>
        <li>Er undervisningen på dansk?</li>
        <li>Er der internet de steder vi bor?</li>
      </ul>
    </div>

  </div>
</footer>
