---
const navLinks = [
  { label: "Rejsekalender", href: "/rejsekalender" },
  { label: "Højskoleophold", href: "/hojskoleophold" },
  { label: "Sommerhøjskole", href: "/sommerhojskole" },
  { label: "Priser", href: "/priser" },
  { label: "Om os", href: "/om-os" },
  { label: "Kontakt os", href: "/kontakt" },
];
---

<header class="site-header">
  <!-- Top info bar -->
  <div class="topbar">
    <div class="container topbar__inner">
      <div class="topbar__left">
        <a class="icon" href="#" aria-label="TikTok">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            focusable="false"
          >
            <path
              d="M16.6 5.82C15.9166 5.03953 15.5399 4.0374 15.54 3H12.45V15.4C12.4267 16.0712 12.1435 16.7071 11.6603 17.1735C11.1771 17.6399 10.5316 17.9004 9.86 17.9C8.44 17.9 7.26 16.74 7.26 15.3C7.26 13.58 8.92 12.29 10.63 12.82V9.66C7.18 9.2 4.16 11.88 4.16 15.3C4.16 18.63 6.92 21 9.85 21C12.99 21 15.54 18.45 15.54 15.3V9.01C16.793 9.90985 18.2974 10.3926 19.84 10.39V7.3C19.84 7.3 17.96 7.39 16.6 5.82Z"
              fill="black"
            />
          </svg>
        </a>
        <a class="icon" href="#" aria-label="Instagram">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            focusable="false"
          >
            <path
              d="M11.999 7.377C10.7726 7.377 9.59651 7.86417 8.72934 8.73134C7.86217 9.59851 7.375 10.7746 7.375 12.001C7.375 13.2274 7.86217 14.4035 8.72934 15.2707C9.59651 16.1378 10.7726 16.625 11.999 16.625C13.2254 16.625 14.4015 16.1378 15.2687 15.2707C16.1358 14.4035 16.623 13.2274 16.623 12.001C16.623 10.7746 16.1358 9.59851 15.2687 8.73134C14.4015 7.86417 13.2254 7.377 11.999 7.377ZM11.999 15.004C11.2023 15.004 10.4382 14.6875 9.87485 14.1241C9.31149 13.5608 8.995 12.7967 8.995 12C8.995 11.2033 9.31149 10.4392 9.87485 9.87585C10.4382 9.31249 11.2023 8.996 11.999 8.996C12.7957 8.996 13.5598 9.31249 14.1231 9.87585C14.6865 10.4392 15.003 11.2033 15.003 12C15.003 12.7967 14.6865 13.5608 14.1231 14.1241C13.5598 14.6875 12.7957 15.004 11.999 15.004Z"
              fill="black"
            />
            <path
              d="M16.806 8.285C17.4014 8.285 17.884 7.80236 17.884 7.207C17.884 6.61164 17.4014 6.129 16.806 6.129C16.2106 6.129 15.728 6.61164 15.728 7.207C15.728 7.80236 16.2106 8.285 16.806 8.285Z"
              fill="black"
            />
            <path
              d="M20.533 6.111C20.3015 5.51318 19.9477 4.97028 19.4943 4.51706C19.0409 4.06384 18.4979 3.71027 17.9 3.479C17.2003 3.21636 16.4612 3.07434 15.714 3.059C14.751 3.017 14.446 3.005 12.004 3.005C9.562 3.005 9.249 3.005 8.294 3.059C7.54739 3.07356 6.80876 3.2156 6.11 3.479C5.51193 3.71 4.96876 4.06347 4.51533 4.51673C4.0619 4.96999 3.70823 5.51302 3.477 6.111C3.2143 6.81061 3.07261 7.54984 3.058 8.297C3.015 9.259 3.002 9.564 3.002 12.007C3.002 14.449 3.002 14.76 3.058 15.717C3.073 16.465 3.214 17.203 3.477 17.904C3.70888 18.5018 4.0629 19.0446 4.51643 19.4978C4.96997 19.951 5.51306 20.3046 6.111 20.536C6.80843 20.8092 7.54737 20.9614 8.296 20.986C9.259 21.028 9.564 21.041 12.006 21.041C14.448 21.041 14.761 21.041 15.716 20.986C16.4631 20.9708 17.2022 20.8291 17.902 20.567C18.4998 20.3352 19.0426 19.9813 19.496 19.528C19.9493 19.0746 20.3032 18.5318 20.535 17.934C20.798 17.234 20.939 16.496 20.954 15.748C20.997 14.786 21.01 14.481 21.01 12.038C21.01 9.595 21.01 9.285 20.954 8.328C20.9424 7.57027 20.7999 6.82025 20.533 6.111ZM19.315 15.643C19.3085 16.2193 19.2034 16.7902 19.004 17.331C18.8538 17.7199 18.6239 18.073 18.3291 18.3677C18.0342 18.6624 17.681 18.8921 17.292 19.042C16.7572 19.2404 16.1924 19.3456 15.622 19.353C14.672 19.397 14.404 19.408 11.968 19.408C9.53 19.408 9.281 19.408 8.313 19.353C7.74293 19.346 7.17832 19.2408 6.644 19.042C6.25369 18.893 5.899 18.6637 5.60289 18.369C5.30678 18.0742 5.07583 17.7206 4.925 17.331C4.72845 16.7961 4.62331 16.2318 4.614 15.662C4.571 14.712 4.561 14.444 4.561 12.008C4.561 9.571 4.561 9.322 4.614 8.353C4.62046 7.77702 4.72565 7.20642 4.925 6.666C5.23 5.877 5.855 5.256 6.644 4.954C7.17859 4.75614 7.74302 4.65096 8.313 4.643C9.264 4.6 9.531 4.588 11.968 4.588C14.405 4.588 14.655 4.588 15.622 4.643C16.1924 4.64986 16.7574 4.75507 17.292 4.954C17.6809 5.10427 18.0341 5.3342 18.329 5.62903C18.6238 5.92386 18.8537 6.27707 19.004 6.666C19.2006 7.20095 19.3057 7.76516 19.315 8.335C19.358 9.286 19.369 9.553 19.369 11.99C19.369 14.426 19.369 14.688 19.326 15.644H19.315V15.643Z"
              fill="black"
            />
          </svg>
        </a>
        <a class="icon" href="#" aria-label="YouTube">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            focusable="false"
          >
            <path
              d="M21.593 7.203C21.4791 6.7804 21.2565 6.395 20.9474 6.08517C20.6382 5.77533 20.2533 5.55186 19.831 5.437C18.265 5.007 12 5 12 5C12 5 5.73599 4.993 4.16899 5.404C3.74692 5.52415 3.36282 5.75078 3.05356 6.06213C2.7443 6.37349 2.52028 6.75912 2.40299 7.182C1.98999 8.748 1.98599 11.996 1.98599 11.996C1.98599 11.996 1.98199 15.26 2.39199 16.81C2.62199 17.667 3.29699 18.344 4.15499 18.575C5.73699 19.005 11.985 19.012 11.985 19.012C11.985 19.012 18.25 19.019 19.816 18.609C20.2385 18.4943 20.6237 18.2714 20.9336 17.9622C21.2436 17.653 21.4674 17.2682 21.583 16.846C21.997 15.281 22 12.034 22 12.034C22 12.034 22.02 8.769 21.593 7.203ZM9.99599 15.005L10.001 9.005L15.208 12.01L9.99599 15.005Z"
              fill="black"
            />
          </svg>
        </a>
        <a class="icon" href="#" aria-label="Facebook">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            focusable="false"
          >
            <path
              d="M13.397 20.997V12.801H16.162L16.573 9.592H13.397V7.548C13.397 6.622 13.655 5.988 14.984 5.988H16.668V3.127C15.8486 3.03919 15.025 2.99679 14.201 3C11.757 3 10.079 4.492 10.079 7.231V9.586H7.332V12.795H10.085V20.997H13.397Z"
              fill="black"
            />
          </svg>
        </a>
      </div>

      <div class="topbar__right">
        <span class="topbar__item"><svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.0292631 6.10076C0.0763147 5.01564 1.06146 4.22976 1.90838 3.97888C2.50535 3.80357 3.07585 4.13606 3.18172 4.7557L3.63459 7.38538C3.66694 7.56976 3.90513 7.90829 4.05805 7.93851C4.21097 7.96874 4.5668 7.82668 4.69913 7.69368L11.5304 0.787C11.9715 0.339653 12.7038 -0.0804911 13.3154 0.0132101C13.8448 0.880701 13.6036 2.1774 12.8979 2.93608L6.13126 10.2357C5.2314 11.206 4.26978 12.2065 3.01115 12.7294C2.16129 13.08 0.720333 12.0553 0.482134 11.1969C0.0204409 9.52539 -0.0530771 7.8962 0.0292631 6.10076Z" fill="#CE5501"/>
</svg>
 4,8 / 5 stjerner på TrustPilot</span>
        <span class="topbar__item"><svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.8756 7.62238L17.2564 5.38162L17.2791 5.35888C17.8619 4.76655 18.187 3.96793 18.1836 3.137C18.1802 2.30606 17.8486 1.51013 17.261 0.922563C16.6735 0.334998 15.8775 0.00340964 15.0466 2.61484e-05C14.2157 -0.00335734 13.4171 0.321738 12.8247 0.904498C12.8168 0.911498 12.8098 0.919373 12.802 0.927247L10.5612 3.30799L3.50999 0.745257C3.3223 0.677061 3.11906 0.663805 2.9241 0.707042C2.72914 0.75028 2.55056 0.848219 2.4093 0.989369L0.309416 3.08925C0.199053 3.19905 0.114489 3.33202 0.0618469 3.47853C0.00920484 3.62504 -0.0101976 3.78143 0.0050444 3.93636C0.0202864 4.09129 0.0697913 4.24089 0.149975 4.37434C0.230158 4.50778 0.339013 4.62172 0.468657 4.70791L5.70349 8.19722L4.81367 9.08267H3.15126C2.87302 9.08268 2.60616 9.19314 2.4093 9.38978L0.309416 11.4897C0.186632 11.6124 0.0961814 11.7636 0.0461592 11.9298C-0.00386293 12.096 -0.011896 12.272 0.0227786 12.4421C0.0574533 12.6122 0.133754 12.771 0.244852 12.9044C0.355951 13.0377 0.498381 13.1415 0.659397 13.2063L3.74185 14.44L4.97203 17.5146L4.97991 17.5338C5.04675 17.6952 5.15279 17.8373 5.28842 17.9474C5.42406 18.0574 5.585 18.1319 5.75667 18.164C5.92834 18.1961 6.10532 18.185 6.27158 18.1314C6.43783 18.0779 6.58811 17.9838 6.70881 17.8576L8.79207 15.7743C8.88975 15.677 8.96731 15.5613 9.0203 15.434C9.07329 15.3067 9.10069 15.1702 9.10093 15.0323V13.3699L9.98725 12.4836L13.4757 17.7141C13.5618 17.8433 13.6756 17.9519 13.8088 18.0318C13.942 18.1118 14.0912 18.1612 14.2458 18.1766C14.4004 18.1919 14.5565 18.1727 14.7027 18.1204C14.849 18.0681 14.9819 17.984 15.0917 17.8742L17.1916 15.7743C17.3329 15.633 17.431 15.4542 17.4742 15.2591C17.5174 15.064 17.5041 14.8605 17.4357 14.6727L14.8756 7.62238ZM14.516 15.4838L11.0258 10.249C10.9396 10.1198 10.8259 10.0114 10.6927 9.93153C10.5596 9.85165 10.4104 9.80229 10.2559 9.78701C10.221 9.78374 10.1859 9.78228 10.1509 9.78263C10.0129 9.78264 9.87626 9.80984 9.7488 9.86269C9.62134 9.91553 9.50554 9.99298 9.40804 10.0906L7.30815 12.1905C7.11151 12.3874 7.00106 12.6542 7.00104 12.9325V14.5949L6.33433 15.2616L5.52588 13.2404C5.47307 13.1083 5.39395 12.9883 5.29333 12.8876C5.1927 12.787 5.07268 12.7079 4.94053 12.6551L2.9194 11.8466L3.58873 11.1826H5.25114C5.52938 11.1825 5.79624 11.0721 5.9931 10.8754L8.09298 8.77556C8.20319 8.66576 8.28761 8.53285 8.34016 8.38643C8.39271 8.24001 8.41206 8.08374 8.39682 7.92892C8.38158 7.77411 8.33213 7.62461 8.25205 7.49125C8.17196 7.35788 8.06324 7.24398 7.93374 7.15778L2.69978 3.66847L3.42074 2.94664L10.493 5.51812C10.6858 5.5883 10.895 5.60042 11.0947 5.55299C11.2943 5.50557 11.4757 5.40066 11.6164 5.25126L14.3191 2.37967C14.5164 2.18242 14.7839 2.07161 15.0628 2.07161C15.3418 2.07161 15.6093 2.18242 15.8066 2.37967C16.0038 2.57691 16.1146 2.84443 16.1146 3.12338C16.1146 3.40232 16.0038 3.66984 15.8066 3.86708L12.935 6.56981C12.7854 6.7104 12.6803 6.89174 12.6328 7.09141C12.5852 7.29108 12.5972 7.50032 12.6672 7.69325L15.2396 14.7646L14.516 15.4838Z" fill="#CE5501"/>
</svg>
 Medlem af Rejsegarantifonden</span>
        <span class="topbar__item"><svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15.2009 2.63003H3.50903C3.12142 2.63003 2.74969 2.784 2.4756 3.05809C2.20152 3.33217 2.04755 3.7039 2.04755 4.09151V8.18366C2.04755 12.1509 3.97086 14.5572 5.58433 15.8776C7.31692 17.2945 9.05097 17.7776 9.12404 17.7988C9.27527 17.8397 9.43465 17.8397 9.58587 17.7988C9.65895 17.7783 11.393 17.2945 13.1256 15.8776C14.7391 14.5572 16.6624 12.1509 16.6624 8.18366V4.09151C16.6624 3.7039 16.5084 3.33217 16.2343 3.05809C15.9602 2.784 15.5885 2.63003 15.2009 2.63003ZM14.9086 8.18366C14.9086 10.7931 13.9521 12.9108 12.0653 14.479C11.2565 15.1463 10.34 15.671 9.35496 16.0304C8.36986 15.6712 7.45327 15.1465 6.64464 14.479C4.75787 12.9108 3.80133 10.7931 3.80133 8.18366V4.38381H14.9086V8.18366ZM5.81159 10.5578C5.73003 10.4763 5.66532 10.3794 5.62118 10.2729C5.57703 10.1663 5.55431 10.0521 5.55431 9.93671C5.55431 9.82135 5.57703 9.70713 5.62118 9.60056C5.66532 9.49398 5.73003 9.39715 5.81159 9.31558C5.89316 9.23401 5.99 9.16931 6.09657 9.12516C6.20315 9.08102 6.31737 9.0583 6.43272 9.0583C6.54808 9.0583 6.6623 9.08102 6.76888 9.12516C6.87545 9.16931 6.97229 9.23401 7.05385 9.31558L8.18577 10.449L11.6575 6.97648C11.8223 6.81174 12.0457 6.7192 12.2787 6.7192C12.5116 6.7192 12.7351 6.81174 12.8998 6.97648C13.0645 7.14121 13.1571 7.36464 13.1571 7.59761C13.1571 7.83058 13.0645 8.054 12.8998 8.21874L8.80763 12.3109C8.72617 12.3926 8.62937 12.4575 8.52278 12.5018C8.41619 12.546 8.30191 12.5688 8.1865 12.5688C8.07109 12.5688 7.95682 12.546 7.85023 12.5018C7.74364 12.4575 7.64684 12.3926 7.56537 12.3109L5.81159 10.5578Z" fill="#CE5501"/>
</svg>
 Rejser for unge siden 2010</span>
      </div>
      <a class="topbar__help" href="/help"><svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.125 0C8.12247 0 6.1649 0.593821 4.49986 1.70637C2.83481 2.81892 1.53706 4.40023 0.770724 6.25033C0.00438702 8.10043 -0.196122 10.1362 0.194554 12.1003C0.585229 14.0643 1.54954 15.8685 2.96555 17.2845C4.38156 18.7005 6.18566 19.6648 8.14971 20.0555C10.1138 20.4461 12.1496 20.2456 13.9997 19.4793C15.8498 18.7129 17.4311 17.4152 18.5436 15.7501C19.6562 14.0851 20.25 12.1275 20.25 10.125C20.247 7.4406 19.1793 4.86699 17.2812 2.96883C15.383 1.07067 12.8094 0.00297771 10.125 0ZM14.2734 12.6825C14.7484 11.914 15 11.0284 15 10.125C15 9.22158 14.7484 8.336 14.2734 7.5675L16.4297 5.41125C17.449 6.77138 18 8.42529 18 10.125C18 11.8247 17.449 13.4786 16.4297 14.8387L14.2734 12.6825ZM7.5 10.125C7.5 9.60582 7.65396 9.09831 7.9424 8.66663C8.23083 8.23495 8.6408 7.8985 9.12046 7.69982C9.60012 7.50114 10.1279 7.44915 10.6371 7.55044C11.1463 7.65172 11.614 7.90173 11.9812 8.26884C12.3483 8.63596 12.5983 9.10369 12.6996 9.61289C12.8009 10.1221 12.7489 10.6499 12.5502 11.1295C12.3515 11.6092 12.0151 12.0192 11.5834 12.3076C11.1517 12.596 10.6442 12.75 10.125 12.75C9.42881 12.75 8.76113 12.4734 8.26885 11.9812C7.77657 11.4889 7.5 10.8212 7.5 10.125ZM14.8388 3.82031L12.6825 5.97656C11.914 5.50161 11.0284 5.25004 10.125 5.25004C9.22158 5.25004 8.336 5.50161 7.5675 5.97656L5.41125 3.82031C6.77139 2.80097 8.4253 2.25 10.125 2.25C11.8247 2.25 13.4786 2.80097 14.8388 3.82031ZM3.82032 5.41406L5.97657 7.57031C5.50161 8.33881 5.25004 9.22439 5.25004 10.1278C5.25004 11.0312 5.50161 11.9168 5.97657 12.6853L3.82032 14.8416C2.80098 13.4814 2.25 11.8275 2.25 10.1278C2.25 8.4281 2.80098 6.77419 3.82032 5.41406ZM5.41407 16.4325L7.57032 14.2762C8.33882 14.7512 9.22439 15.0028 10.1278 15.0028C11.0312 15.0028 11.9168 14.7512 12.6853 14.2762L14.8416 16.4325C13.4814 17.4518 11.8275 18.0028 10.1278 18.0028C8.42811 18.0028 6.7742 17.4518 5.41407 16.4325Z" fill="#CE5501"/>
</svg>
Brug for hjælp?</a>
    </div>
  </div>

  <!-- Main nav -->
  <div class="mainbar">
    <div class="container mainbar__inner">
      <a class="logo" href="/" aria-label="Højskolendk">
        <svg
          width="184"
          height="24"
          viewBox="0 0 184 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          focusable="false"
        >
          <path d="M177.807 16.3973C177.164 15.2066 176.101 13.3884 174.619 10.9425L172.46 13.5012L172.567 16.5803L167.788 16.7472C167.794 13.9782 167.755 11.3891 167.67 8.98006C167.586 6.57099 167.445 3.98553 167.246 1.22367L172.025 1.05677L172.244 7.32176C174.508 4.64517 176.111 2.4983 177.054 0.881159L183.273 0.663989L177.46 7.54638C178.404 8.91207 179.462 10.3951 180.632 11.9956C181.816 13.5955 182.883 14.9926 183.834 16.1868L177.807 16.3973Z" fill="white" />
          <path d="M156.631 1.35878C159.037 1.27477 160.948 1.53627 162.366 2.14329C163.783 2.73605 164.787 3.60014 165.378 4.73557C165.981 5.85629 166.311 7.25056 166.369 8.91837C166.425 10.5007 166.153 11.8945 165.555 13.1C164.956 14.3055 164.028 15.2585 162.772 15.9589C161.515 16.645 159.952 17.0207 158.084 17.086C156.945 17.1257 155.787 17.1662 154.609 17.2073C153.432 17.2484 152.242 17.2828 151.039 17.3106C151.043 14.4988 151.003 11.8813 150.918 9.45795C150.832 7.00612 150.692 4.44916 150.496 1.78709C152.014 1.59136 154.059 1.44859 156.631 1.35878ZM158.472 12.8121C159.662 12.7706 160.445 12.4222 160.819 11.7668C161.193 11.1115 161.361 10.2208 161.321 9.09466C161.283 8.01129 161.042 7.14199 160.596 6.48676C160.163 5.83108 159.371 5.52335 158.219 5.56357C156.978 5.60691 156.052 5.68208 155.441 5.78905L155.689 12.9093L158.472 12.8121Z" fill="white" />
          <path d="M149.348 1.86986C149.342 4.28205 149.387 6.86374 149.484 9.61492C149.58 12.3804 149.715 14.966 149.889 17.372L143.017 17.6119L137.965 6.09944L138.718 17.7621L133.785 17.9343C133.791 15.1653 133.752 12.5763 133.668 10.1672C133.584 7.77242 133.443 5.19408 133.244 2.43222L140.307 2.18556L145.39 14.0181L144.645 2.03408L149.348 1.86986Z" fill="white" />
          <path d="M121.916 14.4311C126.778 14.2328 130.3 14.0313 132.484 13.8266C132.415 14.4141 132.378 15.022 132.375 15.6501C132.383 16.2635 132.404 17.0406 132.437 17.9814L117.523 18.5022C117.529 15.7332 117.49 13.1442 117.405 10.7351C117.321 8.32606 117.18 5.7406 116.981 2.97874L131.895 2.45793L132.03 6.32811L121.646 6.69073L121.718 8.74343C122.332 8.73623 123.241 8.71164 124.444 8.66963C126.478 8.59858 128.582 8.48231 130.754 8.32082L130.883 11.9986C128.704 11.989 126.598 12.0197 124.563 12.0908C123.36 12.1328 122.452 12.1716 121.839 12.2073L121.916 14.4311Z" fill="white" />
          <path d="M107.013 14.5451C110.723 14.387 113.792 14.2085 116.219 14.0095C116.078 14.7423 116 15.4444 115.985 16.1157C115.97 16.787 115.979 17.6002 116.013 18.5553L102.481 19.0278C102.487 16.2588 102.447 13.6698 102.363 11.2607C102.279 8.85167 102.138 6.26621 101.939 3.50435L106.622 3.3408L107.013 14.5451Z" fill="white" />
          <path d="M92.7812 19.5805C89.8509 19.6828 87.6701 19.0525 86.2388 17.6895C84.807 16.3123 84.0464 14.3407 83.9568 11.7749C83.8682 9.23751 84.4836 7.23218 85.803 5.75889C87.1352 4.28514 89.2728 3.49688 92.2159 3.39411C95.1718 3.29089 97.3593 3.92811 98.7783 5.30578C100.21 6.683 100.97 8.64029 101.059 11.1776C101.149 13.7578 100.534 15.7774 99.2141 17.2364C97.8942 18.6954 95.7499 19.4768 92.7812 19.5805ZM92.6289 15.2185C94.0492 15.1689 95.0625 14.8338 95.6686 14.2132C96.2742 13.5783 96.5546 12.6194 96.5098 11.3365C96.466 10.0821 96.1199 9.15934 95.4714 8.56828C94.823 7.97721 93.7886 7.70648 92.3683 7.75608C90.9607 7.80524 89.9541 8.14724 89.3485 8.78209C88.7429 9.41695 88.462 10.3616 88.5058 11.616C88.5501 12.8847 88.8965 13.8146 89.5449 14.4056C90.1933 14.9967 91.2213 15.2676 92.6289 15.2185Z" fill="white" />
          <path d="M79.003 19.8475C78.3593 18.6569 77.2965 16.8386 75.8146 14.3927L73.6555 16.9515L73.763 20.0305L68.9836 20.1974C68.9894 17.4284 68.9503 14.8394 68.8661 12.4303C68.782 10.0212 68.6405 7.43579 68.4415 4.67393L73.2209 4.50703L73.4397 10.772C75.7036 8.09542 77.3069 5.94855 78.2498 4.33142L84.4687 4.11425L78.6555 10.9966C79.6 12.3623 80.6575 13.8454 81.828 15.4458C83.0113 17.0458 84.0786 18.4429 85.03 19.6371L79.003 19.8475Z" fill="white" />
          <path d="M51.5715 18.964C51.9812 18.2219 52.3159 17.5322 52.5755 16.8952C52.8479 16.2577 53.104 15.5209 53.3439 14.6847C54.2728 15.2374 55.3444 15.6567 56.5587 15.9426C57.773 16.2284 58.8984 16.3533 59.9349 16.3171C60.9969 16.28 61.742 16.1541 62.1701 15.9393C62.5977 15.7103 62.8073 15.4746 62.7988 15.2323C62.7685 14.3627 61.5632 13.9695 59.1832 14.0526C56.5727 14.1438 54.6685 13.9106 53.4703 13.353C52.2717 12.7811 51.6487 11.8181 51.6014 10.4639C51.5342 8.53951 52.2013 7.09613 53.6026 6.13377C55.0039 5.17142 56.8498 4.65025 59.1403 4.57026C60.4711 4.52379 61.8406 4.66864 63.2488 5.00481C64.6693 5.32628 65.9541 5.79522 67.103 6.41162C66.7648 7.36539 66.4146 8.52654 66.0524 9.89504C65.9856 10.1828 65.9291 10.3989 65.8829 10.5432C65.2098 9.98155 64.2076 9.5313 62.8762 9.19244C61.5442 8.83933 60.3728 8.68043 59.3619 8.71573C58.1463 8.75818 57.3306 8.87944 56.9148 9.07949C56.4985 9.2653 56.2963 9.52926 56.3082 9.87137C56.3202 10.2135 56.6178 10.4814 57.2011 10.6751C57.7967 10.8541 58.6447 10.9244 59.7452 10.886C62.458 10.7913 64.4408 11.0717 65.6936 11.7273C66.9459 12.3686 67.597 13.402 67.6467 14.8275C67.7164 16.8232 67.1141 18.2857 65.8398 19.2151C64.5649 20.1302 62.6031 20.634 59.9543 20.7265C58.5339 20.7761 57.082 20.6555 55.5985 20.3648C54.1145 20.0598 52.7722 19.5929 51.5715 18.964Z" fill="white" />
          <path d="M49.945 5.29855L50.2086 12.8465C50.3016 15.5121 49.7522 17.5722 48.5603 19.0268C47.3806 20.4667 45.4536 21.2333 42.7792 21.3267C41.2437 21.3803 39.8146 21.1805 38.492 20.7271C37.1821 20.2733 36.0078 19.665 34.969 18.902C35.1813 18.0097 35.35 17.1546 35.4752 16.3367C35.6004 15.5188 35.6844 14.6239 35.7274 13.6519C37.0867 14.789 38.3309 15.5662 39.4601 15.9835C40.5893 16.4008 41.6594 16.5918 42.6703 16.5565C43.7196 16.5198 44.4589 16.23 44.8884 15.6869C45.3178 15.1438 45.5165 14.2306 45.4845 12.9472L45.4278 11.3222C45.3471 9.01289 45.2214 7.06199 45.0504 5.46947L49.945 5.29855Z" fill="white" />
          <path d="M34.5587 7.11982L33.2682 8.68488C34.1053 9.9116 34.5585 11.5157 34.6277 13.4971C34.7178 16.0772 34.1029 18.0968 32.783 19.5558C31.4631 21.0149 29.3188 21.7962 26.3501 21.8999C24.9169 21.9499 23.6761 21.822 22.6277 21.5161L22.0005 22.2659L17.7489 20.4876L18.9665 19.0321C18.0766 17.7644 17.5963 16.1185 17.5257 14.0943C17.4371 11.557 18.0525 9.55162 19.3719 8.07833C20.7041 6.60459 22.8417 5.81633 25.7848 5.71355C27.2692 5.66172 28.5553 5.80234 29.6431 6.13543L30.3072 5.34155L34.5587 7.11982ZM22.0747 13.9355C22.0881 14.3203 22.1338 14.7112 22.2117 15.1081L26.3794 10.0815C26.2893 10.0704 26.1419 10.0684 25.9372 10.0755C24.5296 10.1247 23.523 10.4667 22.9174 11.1015C22.3118 11.7364 22.0309 12.681 22.0747 13.9355ZM30.0787 13.6559C30.0652 13.2711 30.0279 12.937 29.9668 12.6537L25.9098 17.548L26.1978 17.5379C27.6181 17.4883 28.6314 17.1532 29.2375 16.5326C29.8431 15.8978 30.1235 14.9389 30.0787 13.6559Z" fill="white" />
          <path d="M16.1079 6.50157C16.1025 8.91376 16.148 11.5026 16.2446 14.268C16.3412 17.0334 16.4763 19.6191 16.65 22.0251L12.1394 22.1826L11.9363 16.3666L4.8728 16.6133L5.0759 22.4292L0.565263 22.5868C0.571061 19.8177 0.531897 17.2287 0.44777 14.8197C0.363644 12.4106 0.222111 9.82512 0.0231705 7.06326L4.53381 6.90575L4.73691 12.7217L11.8004 12.4751L11.5973 6.65909L16.1079 6.50157Z" fill="white" />
        </svg>
      </a>

      <nav class="nav" aria-label="Hovedmenu">
        <ul class="nav__list">
            <!-- JS Loop --> 
          {navLinks.map((link) => (
            <li class="nav__item">
              <a class="nav__link" href={link.href}>{link.label}</a>
            </li>
          ))}
        </ul>
      </nav>

      <style> 

          .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .topbar {
    background: #ebbb99; 
    border-bottom: 1px solid rgba(0,0,0,0.06);
  }

  .topbar__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 10px 0;
    font-size: 14px;
    position: relative;
  }

  .topbar__left {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .icon {
    width: 28px;
    height: 28px;
    display: grid;
    place-items: center;
  }

  .topbar__right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin: 0 auto;
  }

  .topbar__item {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
    opacity: 0.95;
  }

  .topbar__item svg {
    display: block;
  }

  .topbar__help {
    text-decoration: none;
    color: #111;
    font-weight: 600;
    white-space: nowrap;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }

  .topbar__help svg {
    display: block;
  }

  .mainbar {
    background: #fff;
  }

  .mainbar__inner {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 24px;
    padding: 18px 0;
    background: white;
    margin-top: 20px;
  }

  .logo {
    text-decoration: none;
    color: #111;
  }

  .logo svg {
    display: block;
  }

  .logo svg path {
    fill: currentColor;
  }

  .nav__list {
    list-style: none;
    display: flex;
    gap: 22px;
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  .nav__link {
    text-decoration: none;
    color: #111;
    font-weight: 600;
    font-size: 15px;
  }

  .nav__link:hover { opacity: 0.7; }
      </style>
